.sol__defi-projects {
    margin-top: 10px;
    margin-bottom: 108px;
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 45px; 
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 1);
    }
}
.sol__defi-carousel {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}