.sol__nft {
    margin-top: 108px;
    color: var(--color-white);
    h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }
}
.sol__nfts-mp {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.sol__nft-expand {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
    }
    img {
        margin-top: 19px;
    }
}

@media screen and (max-width: 1250px) {
    
}


@media screen and (max-width: 768px) {
   
}