.sol__category__component {
    width: 212.8px;
    height: 130px;
    border: 1px solid rgb(49, 48, 48);
    border-radius: 12px;
    padding: 16px; 
    margin-right: 25px;
        scroll-snap-align: start;
    img {
        margin-top: 10px;
    }
    h1 {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        line-height: 20px;
    }
    p {
        margin-top: 4px;
        font-size: 12px;
        color: #8e8d91;
    }
} 