.sol__header { 
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    margin-top: -60px;
}
.sol__header-content {
    display: flex;
    justify-content: space-between; 
}
.sol__header-content-cta {
    padding-right: 30%;
    margin-top: 180px;
    h1 {
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 76px;
        letter-spacing: -2.4px;
        color: #FFFFFF;
    }
    button {
        font-size: 16px;
        line-height: 20px;
        padding: 20px 36px;
        background: var(--gradient-btn);
        margin-top: 40px;
        &:hover {
            background: white;
        }
    }
}
 

/***RESPONSIVE****/
/* Large Desktop View */
@media screen and (min-width: 1600px) {
    .sol__header  {
        background-image: url(../../assets/images/large-s-world.svg);
    }
}

/* Desktop View */
@media screen and (max-width: 1600px) {
    .sol__header {
            background-image: url(../../assets/images/desktop-world.svg);
    }
}

/* Tablet View */
@media screen and (max-width: 1250px) {
    .sol__header {
            background-image: url(../../assets/images/tablet-world.svg);
    }
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .sol__header {
            background-image: url(../../assets/images/mobile-world.svg);
    }
}

/* Small Mobile View */
@media screen and (max-width: 425px) {
}
