 
.sol__navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.sol__navbar-links_logo {
    cursor: pointer; 
} 
.sol__navbar-links_container {
    display: flex; 
    a {
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #A4A5A7;
        padding-right: 6px;
    }
    p {
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 5rem;
        }
        &:hover svg path {
            fill: #fff;
            transition: 0.3s;
        }

        &:hover a {
            color: #fff;
            transition: 0.3s;
        }
    }
}
 
.sol__navbar-menu {
    display: none;
    position: relative;
    svg {
        cursor: pointer;
    }
} 
.sol__navbar-menu_container {
    position: absolute;
    background: #000000;
    width: 100%;
    z-index: 100;
    display: none; 
    padding: 2rem 0; 
}
.sol__navbar-menu_container-links  { 
    p {
        margin: 2rem 0;
        cursor: pointer;
        font-size: 16px;
    }
    a {
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #A4A5A7;
        padding: 0 0.75rem;
    }
}
.sol__user-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    flex-wrap: wrap; 
    input {
        background: #1F1F1F;
        border: none;
        padding: 1rem 3rem;
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 727px;
        border-radius: 60px;
        caret-color: #A4A5A7;
        color: #A4A5A7;
        &:focus {
            outline-color: #1820ff;
            transition: 0.3s;
        }
    }
}
.sol__search_input-group svg {
    position: absolute;
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 16px;
}
.sol__cta-container {
    position: relative;
}

.sol__cta-div {
    width: 44px;
    height: 3px;
    transform: rotate(90deg);
    background: #3D3D3D;
    margin-top: 24px;
}
.sol__cta-container {
    button {
        background: #000;
        padding: 1rem 2rem;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #D6D6D6;
        &:hover {
            background: white;
        }
    }
}

/************ RESPONSIVE *************/
/* Large Desktop View */
/* Desktop View */

@media screen and (min-width: 1600px) {
    .main-padding {
        padding: 2rem 16.75rem;
    }
}

/* Desktop View */
@media screen and (max-width: 1600px) {
    .main-padding {
        padding: 2rem 10rem;
    }
}
/* Tablet View */
@media screen and (max-width: 1350px) {
    .main-padding {
        padding: 2rem 6.25rem;
    }
    .sol__navbar-links_container {
        display: none;
    }
    .sol__navbar-menu {
        display: block;
    }  
    .sol__navbar-menu_container {
        display: block;
    }
    .sol__user-container input {
        width: 600px;
    }
    .sol__cta-container button {
        padding: 1rem 0.75rem;
    }
}
/* Tablet View */
@media screen and (max-width: 1124px) {
    .main-padding {
        padding: 2rem 4.5rem;
    }
    .sol__user-container input {
        width: 500px;
    } 
}
/* Mobile View */
@media screen and (max-width: 900px) {
    .main-padding {
        padding: 2rem;
    }
        .sol__user-container input {
            width: 400px;
        }
}
/* Mobile View */
@media screen and (max-width: 768px) {
    .main-padding {
        padding: 2rem 1rem;
    }
        .sol__navbar-menu_container {
            margin-top: 1.5rem;
            display: block;
        }
        .sol__user-container {
            flex-wrap: wrap;
            margin-top:56px ;
        }
        .sol__user-container input {
            width: 460px;
            margin-bottom: 24px;
        }
            .sol__cta-container button {
                padding: 1rem 3.5rem;
            }
}
/* Small Mobile View */
@media screen and (max-width: 425px) {
    .sol__user-container input {
        width: 330px;
        margin-bottom: 1rem;
    }
}